@font-face {
    font-family: dfds_bold;
    src: url(dfds-bold.ttf);
}

body {
    background-color: #eaedee;
    margin: 0em;
    min-width: 10em;
}

header {
    z-index: 3;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
}

h1 {
    padding-left: 1em;
    padding: 0.5em;
    font-family: dfds_bold;
    color: #FFFFFF;
    background-color: #012e45;
    display: flex;
    width: 64%;
    position: relative;
    float: left;
}

ul {
    text-decoration: none;
    display: flex;
    list-style-type: none;
    display: none;
    color: #6d6f71;
    position: absolute;
    right: 0;
    margin-top: 3em;
}

li {
    margin-right: 4em;
    font-family: segoe ui;
}

header a img:nth-child(1) {
    width: 4em;
    height: 4em;
    margin: 1.5em 1em 1em 1em;
    height: auto;
}

header a:nth-child(3) {
    width: 60%;
    height: auto;
    position: relative;
}

a {
    color: inherit;
    text-decoration: inherit;
}

main {
    display: grid;
    grid-template-columns: auto;
    margin-top: 7.5em;

}


img {
    height: auto;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
}

img:nth-child(2) {
    display: none;
}

img:nth-child(3) {
    display: none;

}

@media (min-width: 35em) and (max-width: 65em) {
    h1 {
        width: 43%;
    }
    header a img:nth-child(1) {
        visibility: hidden;
    }
    ul {
        display: flex;
    }
    li {
        margin-right: 2.5em;
    }
    main {
        margin-top: 7em;

    }
    img:nth-child(1) {
        display: none;
    }
    img:nth-child(2) {
        display: block;
    }
}

@media (min-width: 65em) {
    header a img:nth-child(1) {
        visibility: hidden;
    }
    ul {
        display: flex;
    }
    img:nth-child(1) {
        display: none;
    }
    img:nth-child(2) {
        display: none;
    }
    img:nth-child(3) {
        display: block;

    }
}
